<div class="container mt-5">
  <h1 class ="text center">O Hexa Vem!</h1>
  <div class="row marcador align-items-center">
    <div class="col  text-center">
      <img class="img-fluid "     
      [src]="img">
    </div>
  </div>
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-1">
      <h2>Onde será a Copa do Mundo?</h2>
      <p>Será no Catar a primeira Copa do Mundo disputada no Oriente Médio. O país terá sete cidades-sede para a competição, prevista para o intervalo entre 21 de novembro e 18 de dezembro. Essa também é a primeira fez em que a Copa acontece no fim do ano, ao contrário da data regular, entre os meses de junho e julho..</p>
      
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-1">
      <h2>Brasil na Copa do Mundo!</h2>
      <p>Pentacampeã do mundo, a seleção brasileira tem um longo percurso na Copa do Mundo. A história do Mundial muitas vezes se confunde com a do Brasil, único time presente em todas as edições do torneio. Grandes nomes da maior competição de futebol do mundo vestiram a amarelinha e brilharam no torneio. Pelé, Garrincha, Zagallo, Romário e Ronaldo são algumas das estrelas brasileiras que defenderam o país. </p>
    
    </div>
  </div>
</div>

